*{
    box-sizing: border-box;
    margin:0;
}

body{
    margin-top: 2rem;
}

h1{
    text-align: center;
}

.container{
    margin-top: 3rem;
    margin-left: 2rem;
}

.content{
    border: 1px solid black;
    float:left;
    margin-right: 1rem;
    margin-top: 1rem;
    position: relative;
}

.content>h2 {
    text-align: center;
    width: 150px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
}

.content>p {
    padding: 0.8rem;
    margin-top: 2rem;
}

@media(max-width:767px){
    .col-sm-12{
        width: 90%;
    }
    
}

@media(min-width:768px) and (max-width:991px){
    .col-md-6{
        width: 45%;
    }

    .col-md-12{
        width: 95%;
    }
}

@media(min-width:992px){
    .col-lg-3{
        width: 30%;
    }

}